template(name='doc_list_item')
    .ui.stackable.grid
        .four.wide.column
            if watson.metadata.image 
                a(href="/doc/#{_id}/view")
                    img.ui.inline.image(src=watson.metadata.image)
                            
        .twelve.wide.column
            a.ui.inline.large.header(href="/doc/#{_id}/view" class=emotion_color_class) !{lowered_title}
            div
            //- a.ui.tertiary.button(href="https://www.reddit.com/r/#{subreddit}" target="_blank")
            if publish_when
                .ui.small.tertiary.circular.button
                    //- i.calendar.icon
                    //- |#{watson.metadata.publication_date}
                    |#{publish_when}

template(name='small_card')
    .column
        //- if is_youtube
        //-     iframe.invert(width="100%" height="300" src="https://www.youtube.com/embed/#{youtube_id}?autoplay=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        if has_thumbnail
            unless is_image
                unless watson.metadata.image
                    //- img.ui.left.floated.middle.aligned.top.aligned.image.rounded(src=url class=omega_dark_mode_class)
                    //- img.ui.left.floated.inline.image.rounded(src=thumbnail class=omega_dark_mode_class)
                    //- a(href=url target='_window')
                    a(href="/doc/#{_id}/view")
                        img.ui.left.floated.invert.image.rounded.pointer.call_visual(src=thumbnail)
        if watson.metadata.image 
            unless is_video
                unless is_youtube
                    a(href="/doc/#{_id}/view")
                        img.ui.centered.rounded.image(src=watson.metadata.image)
                
        .content
            //- a.ui.small.header(href=url target='_window') #{title}
            a.ui.small.header(href="/doc/#{_id}/view" class=emotion_color_class) !{lowered_title}
            .spacer
            unless watson
                .ui.icon.circular.large.button.call_watson
                    i.dna.large.icon
            if publish_when
                .ui.small.tertiary.circular.button
                    //- i.calendar.icon
                    //- |#{watson.metadata.publication_date}
                    |#{publish_when}
